# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
venv/
ENV/

# Logs
*.log
log/
logs/
db_transfer.log

# Docker
.docker/
docker-compose.override.yml
*.new

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
*.sqlite3
*.db

# OS specific
.DS_Store
Thumbs.db
